/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/


  --white-color: #fff;
  --primary-color: #dd3c3c;


  --black-color: #0B0A1F;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Plus Jakarta Sans", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1rem;
}

.main {
    overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    border-bottom: 1px solid #ccc;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: var(--header-height);
}

.nav__toggle,
.nav__close,
.nav__shopping{
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}
.nav__logo img{
    height: 24px;
    width: 124px;
}
.nav__close{
    position: absolute;
    top: -1.4rem;
    left: 1.5rem;
    z-index: 1;
}

.nav__menu{
    position: fixed;
    /* top: 0; */
    left: -100%;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px #232323;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 24px -8px;
    box-shadow: 0 8px 16px 4px rgba(0,0,0,.06);
    width: 100%;
    height: 100%;
    /* min-width: 256px;
    z-index: 500;
    max-width: 420px; */
    
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0px;
    color: var(--black-color);
    top: 52px;
    transition: left .4s;
    overflow-y: auto;
    overflow-x: hidden;
}
.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    position: relative;
}
.nav__item::after{
    content: "";
    border-bottom: 1px solid rgba(31, 10, 10, .12);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nav__link{
    color:  #000;
}
.nav__arrow::after i{
    content: "";
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--black-color);
}
.nav__arrow{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* Navigation for mobile devices */



/* Show menu */
.show-menu{
    left: 0;
}

/* Add blur header */
.blur-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px); */
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 1px solid #ccc;
}

/* Active link */


/*=============== product ===============*/

.product__container{

}

.product__card{
    position: relative;
}
.product__img{

}
.product__card-sale{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
}

.product__star{
    display: flex;
    column-gap: 4px;
}

svg#review-icons-star {
    fill: #efbe2a;
    height: 12px !important;
    width: 12px !important;
}
path {
    color: #efbe2a;
}

.product__container {
    grid-template-columns: repeat(2, 1fr);
}
.product__title{
    color: #0b0a1f;
    font-size: var(--normal-font-size);
    font-style: normal;
    line-height: 1.55;
    font-weight: var(--font-regular);
    font-family: var(--body-font);
    margin-bottom: 0.5rem;
}
.product__price{
    font-weight: 700;
    color: #0b0a1f;
    font-style: normal;
    font-size: var(--normal-font-size);
    margin-bottom: 0.25rem;
}
.prodproduct__content{

}
.product__star{

}
.product__text{
    font-size: 14px;
    line-height: 100%;
    padding-top: unset;
    color: #0b0a1f;
    cursor: pointer;
}

/*=============== BUTTON ===============*/


/*=============== NEWS ===============*/


/*=============== SHOP ===============*/


/*=============== CARE ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */