/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/


  --white-color: #fff;
  --primary-color: #dd3c3c;


  --black-color: #0B0A1F;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Plus Jakarta Sans", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1rem;
}

.main {
    overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    border-bottom: 1px solid #ccc;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: var(--header-height);
}

.nav__toggle,
.nav__close,
.nav__shopping{
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}
.nav__logo img{
    height: 24px;
    width: 124px;
}
.nav__close{
    position: absolute;
    top: -1.4rem;
    left: 1.5rem;
    z-index: 1;
}

.nav__menu{
    position: fixed;
    /* top: 0; */
    left: -100%;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 8px #232323;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 24px -8px;
    box-shadow: 0 8px 16px 4px rgba(0,0,0,.06);
    width: 100%;
    height: 100%;
    /* min-width: 256px;
    z-index: 500;
    max-width: 420px; */
    
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0px;
    color: var(--black-color);
    top: 52px;
    transition: left .4s;
    overflow-y: auto;
    overflow-x: hidden;
}
.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    position: relative;
}
.nav__item::after{
    content: "";
    border-bottom: 1px solid rgba(31, 10, 10, .12);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nav__link{
    color:  #000;
}
.nav__arrow::after i{
    content: "";
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--black-color);
}
.nav__arrow{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* Navigation for mobile devices */



/* Show menu */
.show-menu{
    left: 0;
}

/* Add blur header */
.blur-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 1px solid #ccc;
}

/* Active link */




/* Shopping */
.shopping{
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 24px -8px;
    width: 450px;
    height: 100%;
    border-radius: 0px;
    color: var(--black-color);
    top: 52px;
    transition: right .4s;
}

.nav__shopping-card{

}
.shopping__card-icon svg{
    margin-bottom: 24px;
}

.nav__shopping-heading{
    font-family: var(--body-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: 16px;
}
.shopping__card-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    border: 1px solid #eee;
    border-radius: 2px;
}
.nav__shopping-main{
    padding: 24px 24px 100px 24px;
}

.Shopping-description{
    margin-bottom: 8px;
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.55;
    color: #0b0a1f;
    
}
.Shopping__desc{
    color: #0b0a1f;
    opacity: .48;
    font-family: var(--body-font);
    margin-bottom: 8px;
}
.Shopping__button{
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    padding: 1rem 1.25rem 1rem 1.25rem;
    border: 1px solid rgba(77, 77, 77, .1);
    background: #3CA7DD;
    color: #fff;
    font-weight: 400;
    font-family: var(--body-font);
    transition: box-shadow .4s;
    text-transform: uppercase;
}
.Shopping__data{
    border-top: 1px solid #ccc;
    padding-top: 2rem;
}
.Shopping__price{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.Shopping__data{
    padding: 24px 24px 16px 24px;
}
.Shopping__text{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: 700;
}
.Shopping__summary-price{
    color: #222060;
    font-size: 18px;
}
.Shopping__desc-link{
    margin-bottom: 12px;
    font-size: 12px;
    opacity: .72;
}
.Shopping__material{
    background-color: #0b0a1f;
    opacity: .4;
    cursor: not-allowed;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding:  .75rem 0;
    border-radius: 8px;
    margin-bottom: 8px;
}
.Shopping__material i{
    font-size: 25.6px;
    color: #fff;
}

.Shopping__break{
    color: #fff;
}
.Shopping__product-express{
    background-color: #FFC439;
    opacity: 50%;
    padding:  .75rem 0;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 5px;
}

.close{
    position: absolute;
    font-size: 1.5rem;
    top: -3rem;
    right: 1rem;
}
.ri-close-line{

}


/*=============== product ===============*/
.product{
    padding-top: 5rem;
}
.product__container{
    margin: 0 16px;
}

.product__card{
    position: relative;
}
.product__image{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.product__img{
    width: 100%;
    height: 100%;
}
.product__card-sale{
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
}

.product__star{
    display: flex;
    column-gap: 4px;
}

svg#review-icons-star {
    fill: #efbe2a;
    height: 12px !important;
    width: 12px !important;
}
path {
    color: #efbe2a;
}

.product__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.product__title{
    color: #0b0a1f;
    font-size: 16px;
    font-style: normal;
    line-height: 1.55;
    font-weight: var(--font-regular);
    font-family: var(--body-font);
    margin-bottom: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.product__price{
    font-weight: 700;
    color: #0b0a1f;
    font-style: normal;
    font-size: var(--normal-font-size);
    margin-bottom: 0.25rem;
}
/* .product__img{
    width: 156px;
    height: 156px;
} */
.product__text{
    font-size: 14px;
    line-height: 100%;
    padding-top: unset;
    color: #0b0a1f;
    cursor: pointer;
}
.prodproduct__content {
    margin-top: .5rem;
}

.zoom{
    scale: 1;
    transition: scale .4s;
    overflow: hidden;
}
.zoom:hover{
    scale: 1.05;
}

/*=============== Builder ===============*/
.builder{
    padding-top: 4rem;
    background-color: #FAFAFB;
}
.builder__container{
    gap: 3rem;
}

.builder__data{
    border: 1px solid #EEEEEF;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px 16px;
}
.builder__title{
    color: #0b0a1f;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.35;
    font-family: var(--body-font);
    margin-bottom: 8px;
}
.builder__description{
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.55;
    margin-bottom: 28px;
}
.builder__form{
    display: flex;
    flex-direction: column;
}
.builder__input{
    border-radius: 8px;
    padding-left: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    padding: 0.75rem 0.75rem 0.75rem 12px;
    border: 1px solid rgba(77, 77, 77, .1);
    background: #fff;
}
.builder__input::placeholder{
    color: #B2B2B2;
    font-weight: 400;
    font-family: var(--body-font);
}
.builder__button{
    border-radius: 8px;
    padding-left: 12px;
    margin-bottom: 8px;
    font-size: 14px;
    padding: 0.75rem 0.75rem 0.75rem 12px;
    border: 1px solid rgba(77, 77, 77, .1);
    background: #3CA7DD;
    color: #fff;
    font-weight: 400;
    font-family: var(--body-font);
    line-height: 10px;
    height: 40px;
    transition: box-shadow .4s;
}
.builder__button:hover{
    box-shadow: 2px 2px 8px rgb(60, 167, 221);
}

.builder__image{
    /* height: 377px; */
    order: -1;
}
.builder__img{
    width: 100%;
}

/*=============== contact ===============*/
.contact{
    padding: 32px 16px;
}

.contact__container{

}

.contact__logo{
    width: 120px;
    height: 21px;
    margin-bottom: 24px;
}
.contact__description{
    color: #0b0a1f;
    font-family: var(--body-font);
    line-height: 1.55;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 12px;
}
.contact__button{
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: var(--normal-font-size);
    padding: 1rem  0.75rem 1rem 12px;
    border: 1px solid #3CA7DD;
    color: #3CA7DD;
    background: #fff;
    font-weight: 400;
    font-family: var(--body-font);
    line-height: 10px;
    height: 40px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow .4s;
}
.contact__button:hover{
    box-shadow: 2px 2px 8px rgb(60, 167, 221);
}

.contact__text{
    margin-bottom: 12px;
    color: #4d4d4d;
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.55;
    font-style: normal;
}
.contact__image{
    display: flex;
    gap: 8px;
    align-items: center;
}
.contact__image img{
    width: 80px;
    height: 10.83px;
}
.desc{
    font-weight: bold;
    font-weight: 800;
    font-style: normal;
    line-height: 1.55;
    font-size: 14px;
}

.contact__title{
    color: #0b0a1f;
    margin-bottom: 12px;
    font-weight: 800;
    font-family: var(--body-font);
    line-height: 1.55;
    font-size: 18px;
}
.contact__links{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.contact__link{
    font-size: 14px;
    font-family: var(--body-font);
    line-height: 1.55;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1rem;
    color:#4F4E5D;
    /* bỏ tạm màu */
}
.contact__img{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}
.contact__img img {
    width: 36px;
    height: 36px;
}
.contact__copyright{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0 0 0;
    height: auto;
    left: 0;
    margin: 24px 0px 0px 0px;
    overflow-y: visible;
    padding: 24px 0px 0px 0px;
    text-align: center;
    position: relative;
}
.contact__copy{
    margin-top: 16px;
    font-family: var(--body-font);
    line-height: 1.55;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.contact__copyright a{
    color: var(--black-color);
}
/* .contact__copyright a::before{
    content: "";
    width: 100%;
    height: 0.08em;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
} */
/* .contact__copyright a::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 0.08em;
    bottom: 0;
    left: 0;
    z-index: 100;
    animation: slide-left .2s ease-in-out;
} */

@media screen and (min-width: 834px) {
    .container{
        margin-inline: auto;
    }
    .product {
        padding-top: 6rem;
    }
    .builder{
        padding: 64px 0px;
    }
    .contact{
        margin: 0 auto;
        max-width: 1120px;
    }
    .builder__container  {
        max-width: 1120px;
        display: flex;
        gap: 0;
        margin: 0 auto;
    }
    .product__container  {
        max-width: 1120px;
        margin: 0 auto;
    }
    .builder__image{
        order: 1;
        width: 50%;
        object-fit: cover;
    }
    .builder__data{
        width: 50%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 136px 80px;
    }
    .builder__form{
        flex-direction: row;
        gap: 8px;
    }
    .builder__title{
        font-size: 40px;
    }
    .contact__container {
        grid-template-columns: repeat(2, max-content);
        column-gap: 3rem;
    }
    .contact__content {
        grid-template-columns: repeat(2, max-content);
        column-gap: 13rem;
    }
    .contact__copyright{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .contact__main{
        display:flex;
        align-items: center;
        gap: 0.25rem;
    }
    .contact__copy{
        margin-top: 0;
    }
    .contact__button{
        width: 50%;
        padding: 1.5rem;
    }
    .product__card-sale{
        padding: 5px 8px;
    }
    .nav__menu{
        width: 256px;
        height: 311.6px;
        left: 11.5rem;
        top: 3.9rem;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
    }
}






/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */